<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ASP.NET Authentication Sample" />
    <title>ASP.NET Authentication Sample</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div style="background-color: black; color: white; text-align: right; padding: 10px;">
        <div style="margin: 0px auto; width: 800px;">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div>

        @RenderBody()

    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("PageScripts", required: false)
</body>
</html>
