<div style="margin: 50px auto; width: 800px;">
    <h3>Welcome to the app, after you successfully logged in!</h3>
    <hr />
    <p>Switch to second page</p>
    <p><a href="@Url.Action("Second")" class="btn btn-primary">Click here</a></p>
</div>