<div style="margin: 50px auto; width: 800px;">
    <h3>This is a second page!</h3>
    <hr />
    <p>Switch back to first page</p>
    <p><a href="@Url.Action("Index")" class="btn btn-primary">Click here</a></p>
</div>